@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("../fonts/Inter.woff2") format("woff2"),
    url("../fonts/Inter.woff") format("woff");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Italic"),
    url("../fonts/Inter-Italic.woff2") format("woff2"),
    url("../fonts/Inter-Italic.woff") format("woff");
  font-weight: 400 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

:root,
.color-scheme-light {
  --color-heading: 0, 0, 0;
  --color-heading-strong: 0, 0, 0;
  --color-heading-background: 255, 255, 255;
  --color-subheading: 0, 0, 0;
  --color-subheading-background: 255, 255, 255;
  --color-body: 0, 0, 0;
  --color-background: 255, 255, 255;
  --color-link: 0, 0, 0;
  --color-link-active: 80, 114, 167;
  --color-overlay: 0, 0, 0;

  /* buttons */
  --color-button: 0, 0, 0;
  --color-button-border: 0, 0, 0;
  --color-button-background: 255, 255, 255;
  --color-button-background-gradient: linear-gradient(279.69deg, #87A6D6 0%, #5072A7 100%);
  --color-secondary-button: 255, 255, 255;
  --color-secondary-button-border: 0, 0, 0;
  --color-secondary-button-background: 0, 0, 0;

  /* buttons: hover */
  --color-button-hover: 0, 0, 0;
  --color-button-hover-border: 0, 0, 0;
  --color-button-hover-background: 255, 255, 255;
  --color-button-background-gradient-hover: linear-gradient(279.69deg, #87A6D6 0%, #5072A7 100%);
  --color-secondary-button-hover: 255, 255, 255;
  --color-secondary-button-hover-border: 0, 0, 0;
  --color-secondary-button-hover-background: 0, 0, 0;
}

:root {
  --font-body-family: "Inter", sans-serif;
  --font-body-style: normal;
  --font-body-weight: 400;

  --font-heading-family: "Inter", sans-serif;
  --font-heading-style: normal;
  --font-heading-weight: 600;

  --font-inter-family: "Inter", sans-serif;
  --font-roboto-family: "Roboto", sans-serif;

  --font-body-size: 1.6rem;
  --font-body-scale: 1.5;

  --font-heading-size: 3.6rem;
  --font-heading-scale: 1.25;

  --page-width: 1500px;
  --page-width-horizontal-space: 50px;

  @media screen and (width < 750px) {
    --page-width-horizontal-space: 15px;
  }
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: rgb(var(--color-body)) transparent; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: calc(1 * 62.5%);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: var(--font-body-size);
  letter-spacing: 0.06rem;
  line-height: calc(1 * var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: 0.06rem;
  color: rgb(var(--color-heading));
  line-height: calc(1 * var(--font-heading-scale));
  word-break: break-word;
}

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 var(--page-width-horizontal-space);
}

@media screen and (width < 750px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (width >=750px) {
  .small-up-hide {
    display: none !important;
  }
}

@media screen and (width >=750px) and (width < 990px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (width >=990px) {
  .large-up-hide {
    display: none !important;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

details>* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.break {
  word-break: break-word;
}

.visibility-hidden {
  visibility: hidden;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-unstyled {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
    animation: none !important;
  }
}

.svg-wrapper {
  --icon-svg-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-svg-size);
  height: var(--icon-svg-size);
}

.svg-wrapper>svg {
  height: 100%;
  width: 100%;
}

.button {
  cursor: pointer;
  display: inline-flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border: none;
  min-height: 6rem;
  padding: 0 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(var(--color-button));
  border: 0.2rem solid rgb(var(--color-button-border));
  background-color: rgb(var(--color-button-background));
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  @media screen and (width < 1025px) {
    min-height: 5rem;
    font-size: 1.6rem;
    padding-inline: 1.5rem;
  }

  @media screen and (width < 750px) {
    font-size: 1.4rem;
  }
}

.button:hover {
  color: rgb(var(--color-button-hover));
  border: 0.2rem solid rgb(var(--color-button-hover-border));
  background-color: rgb(var(--color-button-hover-background));
}

.button-full-width {
  width: 100%;
  max-width: 100%;
}

.button--primary {
  --color-button: 255, 255, 255;
  background: var(--color-button-background-gradient);
  outline: 0.2rem solid rgba(var(--color-button-border), 0);
}

.button--primary,
.button--primary:hover {
  border: none;
}

.button--primary:hover {
  background: var(--color-button-background-gradient-hover);
  outline: 0.2rem solid rgba(var(--color-button-hover-border), 1);
}

@media screen and (width < 750px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (width >=750px) {
  .small-up-hide {
    display: none !important;
  }
}

@media screen and (width >=750px) and (width < 1025px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (width < 1025px) {
  .large-down-hide {
    display: none !important;
  }
}

@media screen and (width >=1025px) {
  .large-up-hide {
    display: none !important;
  }
}

.rte a,
.reversed-link {
  --transform-origin-end: right;
  --transform-origin-start: left;
  --reversed-link-gap: min(100%, 1.35em);
  --animation-primary: .5s cubic-bezier(.3, 1, .3, 1);
  background: linear-gradient(to var(--transform-origin-end), currentColor, currentColor) 0 var(--reversed-link-gap)/0 1px no-repeat;
  background-position-x: var(--transform-origin-end);
  transition: background-size var(--animation-primary);

  &:hover {
    background-position-x: var(--transform-origin-start);
    background-size: 100% 2px;
  }
}

.rte,
.text-body {
  color: rgb(var(--color-body));
}

.rte,
.rte-box {
  --rte-gap: 1rem;
  --rte-box-width: 100%;
  max-width: var(--rte-box-width);

  &>* {
    margin-bottom: 0;
  }

  &>*:first-child {
    margin-top: 0;
  }

  &>*:first-child {
    margin-top: 0;
  }

  &>*+* {
    margin-top: var(--rte-gap);
  }
}

.field {
  color: rgb(var(--color-field-text));
  background-color: rgb(var(--color-field-background));
  box-shadow: 1px 1px 1px 0px rgba(var(--color-shadow), 0.15);
  border: 0.1rem solid rgb(var(--color-field-border));
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;

  .field__input {
    height: 7rem;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 2rem 3.5rem;
    background-color: transparent;
    font-size: var(--font-body-size);
    color: rgb(var(--color-field-text));
    display: block;
    width: 100%;
  }

  .field__textarea {
    resize: none;
    height: var(--field-textarea-height, auto);
  }

  &+.field {
    margin-top: 1rem;
  }

  @media screen and (width < 1025px) {
    .field__input:not(.field__textarea) {
      height: 5rem;
      padding: 1rem 1.5rem;
    }
  }
}

/* header */
.section__header {
  --color-link: 0, 0, 0;
  --color-link-active: 80, 114, 167;
  --section-header-gaps: 1rem;
  --section-header-nav-gaps: 1.3rem;
  --section-header-padding-y: 2.5rem;

  @media screen and (width >=1025px) {
    --section-header-nav-gaps: 2rem;
  }

  @media screen and (width >=1440px) {
    --section-header-nav-gaps: 4rem;
  }

  @media screen and (width < 1025px) {
    --section-header-padding-y: 1.5rem;
  }

  & {
    display: block;
    position: sticky;
    z-index: 100;
    background-color: rgb(var(--color-background));
    box-shadow: 0 2px 4px rgba(var(--color-body), 0.1);
    transition: top .15s ease-out;
  }

  &.shopify-section-header-sticky {
    top: 0;
  }

  &.shopify-section-header-hidden {
    top: calc(-1 * var(--header-height));
  }

  .header-wrapper {
    display: block;
    padding-block: var(--section-header-padding-y);
  }

  .header {
    display: grid;
    align-items: center;
    gap: var(--section-header-gaps);
    grid-template-areas: "logo nav icons";
    grid-template-columns: minmax(auto, 1fr) 3fr minmax(auto, 1fr);
  }

  .header-drawer {
    grid-area: drawer;
  }

  .header-logo {
    grid-area: logo;
  }

  .header-logo--link {
    display: inline-flex;
  }

  .navigation-inline {
    grid-area: nav;
    text-align: center;
    align-content: center;
  }

  .header-icons {
    grid-area: icons;
    align-content: center;
  }

  .navigation-links--list {
    display: inline-flex;
    gap: var(--section-header-nav-gaps);
  }

  .header-icons--list {
    display: flex;
    gap: var(--section-header-gaps);
    width: fit-content;
    margin-left: auto;
  }

  .nav-link {
    display: inline-flex;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(var(--color-link));

    &.active {
      color: rgb(var(--color-link-active));
    }
  }

  .header-icon {
    display: inline-flex;
    flex-wrap: wrap;
  }

  @media screen and (width < 1025px) {
    .header {
      grid-template-areas: "drawer logo icons";
      grid-template-columns: minmax(auto, 1fr) auto minmax(auto, 1fr);
    }

    .header-logo--image {
      max-width: 110px;
    }
  }
}

/* section defaults */
.section {
  --section-margin-top: 10rem;
  margin-block: 0;

  &+.section {
    margin-block-start: var(--section-margin-top);
  }

  @media screen and (width < 1025px) {
    --section-margin-top: 5rem;
  }
}

.section-header {
  --section-header-margin-bottom: 5rem;
  margin-block-end: var(--section-header-margin-bottom);

  .section-header-title {
    color: var(--color-heading);
    font-size: clamp(2.8rem, 4vw, 4.4rem);
    font-weight: 600;
    line-height: 1.3;
  }

  .section-header-text {
    --rte-box-width: 75rem;
    display: inline-block;
    font-size: clamp(1.6rem, 3vw, 2.2rem);
  }

  @media screen and (width < 1025px) {
    --section-header-margin-bottom: 3rem;
  }
}

/* flex layout */
.flex {
  --flex-row-gap: 1rem;
  --flex-col-gap: 1rem;
  --flex-col-count: 2;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--flex-row-gap);
  column-gap: var(--flex-col-gap);

  .grid__item {
    width: calc(100% / var(--flex-col-count) - (var(--flex-col-gap) * (var(--flex-col-count) - 1) / var(--flex-col-count)));
    max-width: calc(100% / var(--flex-col-count) - (var(--flex-col-gap) * (var(--flex-col-count) - 1) / var(--flex-col-count)));
  }

  &:where(.flex-grow)>.grid__item {
    flex-grow: 1;
  }

  @media screen and (width >=1025px) {
    &:where(.flex--fixed-col) {
      --flex-col-fixed: 100%;

      &>.grid__item-fixed {
        width: var(--flex-col-fixed);
        max-width: var(--flex-col-fixed);
      }

      &>.grid__item:not(.grid__item-fixed) {
        width: calc(100% - var(--flex-col-fixed) - var(--flex-col-gap));
        max-width: calc(100% - var(--flex-col-fixed) - var(--flex-col-gap));
      }
    }

    &:where(.flex-reverse) {
      flex-direction: row-reverse;
    }
  }

  @media screen and (width < 1025px) {
    --flex-col-count: 1;
  }
}