/* hero banner - start */
.section--hero {
  --color-heading: 255, 255, 255;
  --color-heading-strong: 109, 159, 236;
  --color-subheading: 255, 255, 255;
  --color-subheading-background: 163, 192, 237;
  --color-body: 255, 255, 255;
  --color-background: 255, 255, 255;
  --color-overlay: 0, 0, 0;

  /* buttons */
  --color-button: 0, 0, 0;
  --color-button-border: 0, 0, 0;
  --color-button-background: 255, 255, 255;

  /* buttons: hover */
  --color-button-hover: 255, 255, 255;
  --color-button-hover-border: 0, 0, 0;
  --color-button-hover-background: 0, 0, 0;

  --section-hero-aspect-ratio: 2.81112738;
  /* 16:9 */
  --section-hero-gaps: 1.5rem;
  --section-hero-box-size: 70rem;
  --section-hero-buttons-gap: 2rem;
  overflow: hidden;

  @media screen and (width >=1440px) {
    --section-hero-gaps: 5rem;
  }

  .hero-banner {
    width: 100%;
    display: flex;
    position: relative;
    isolation: isolate;

  }

  .hero-banner::before,
  .section--hero-media::before {
    content: "";
    display: block;
    padding-top: calc(1 / var(--section-hero-aspect-ratio) * 100%);
  }

  .section--hero-media,
  .section--hero-media .section--hero-image {
    position: absolute;
    inset: 0;
  }

  .section--hero-media::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(var(--color-overlay), 0.4);
  }

  .section--hero-media .section--hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section--hero-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .section--hero-box {
    padding-block: 5rem;
    max-width: var(--section-hero-box-size);

    &.section--hero-box-transparent {
      background-color: rgb(var(--color-background), 0);
    }

    &>*:first-child {
      margin-top: 0;
    }

    &>* {
      margin-bottom: 0;
    }

    &>*+* {
      margin-top: var(--section-hero-gaps);
    }
  }

  .section--hero-subtitle {
    display: inline-flex;
    padding: 1.2rem 1.6rem;
    font-size: clamp(1rem, 2vw, 1.4rem);
    background-color: rgb(var(--color-subheading-background), 0.5);
    border-radius: 2.4rem;
    -webkit-border-radius: 2.4rem;
    -moz-border-radius: 2.4rem;
    -ms-border-radius: 2.4rem;
    -o-border-radius: 2.4rem;
  }

  .section--hero-title {
    font-size: clamp(2rem, 4vw, 5.4rem);

    strong {
      font: inherit;
      display: block;
      color: rgb(var(--color-heading-strong));
    }
  }

  .section--hero-buttons {
    display: flex;
    gap: var(--section-hero-buttons-gap);
    align-items: center;

    .button,
    .button-choice {
      white-space: nowrap;
    }

    .svg-wrapper {
      --icon-svg-size: 2.4rem;
    }
  }

  @media screen and (width >= 1025px) {
    .section--hero-box>.section--hero-title+.section--hero-text {
      margin-top: 0.5rem;
    }
  }

  @media screen and (width < 1025px) {
    .section--hero-buttons {
      --section-hero-buttons-gap: 1rem;
      align-items: start;
      flex-direction: column;
    }
  }

  @media screen and (width < 750px) {
    .section--hero-box {
      width: 100%;
      text-align: center;
    }

    .section--hero-buttons {
      align-items: center;
    }

    .section--hero-text {
      font-size: 1.4rem;
    }
  }
}

/* hero banner - end */