/* hero banner - start */
.section--hero {
  --color-heading: 255, 255, 255;
  --color-heading-strong: 109, 159, 236;
  --color-subheading: 255, 255, 255;
  --color-subheading-background: 163, 192, 237;
  --color-body: 255, 255, 255;
  --color-background: 255, 255, 255;
  --color-overlay: 0, 0, 0;
  --color-field-background: 255, 255, 255;
  --color-field-text: 178, 178, 178;
  --color-field-border: 178, 178, 178;
  --color-shadow: 0, 0, 0;

  /* buttons */
  --color-button: 0, 0, 0;
  --color-button-border: 0, 0, 0;
  --color-button-background: 255, 255, 255;

  /* buttons: hover */
  --color-button-hover: 255, 255, 255;
  --color-button-hover-border: 0, 0, 0;
  --color-button-hover-background: 0, 0, 0;

  --section-hero-aspect-ratio: 2.81112738;
  /* 16:9 */
  --section-hero-gaps: 1.5rem;
  --section-hero-box-size: 70rem;
  --section-hero-buttons-gap: 2rem;
  overflow: hidden;

  @media screen and (width >=1440px) {
    --section-hero-gaps: 5rem;
  }

  .hero-banner {
    width: 100%;
    display: flex;
    position: relative;
    isolation: isolate;

  }

  .hero-banner::before,
  .section--hero-media::before {
    content: "";
    display: block;
    padding-top: calc(1 / var(--section-hero-aspect-ratio) * 100%);
  }

  .section--hero-media,
  .section--hero-media .section--hero-image {
    position: absolute;
    inset: 0;
  }

  .section--hero-media::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(var(--color-overlay), 0.4);
  }

  .section--hero-media .section--hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section--hero-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .section--hero-box {
    --rte-gap: var(--section-hero-gaps);
    --rte-box-width: var(--section-hero-box-size);
    padding-block: 5rem;
    max-width: var(--section-hero-box-size);

    &.section--hero-box-transparent {
      background-color: rgb(var(--color-background), 0);
    }
  }

  .section--hero-subtitle {
    display: inline-flex;
    padding: 1.2rem 1.6rem;
    font-size: clamp(1rem, 2vw, 1.4rem);
    background-color: rgb(var(--color-subheading-background), 0.5);
    border-radius: 2.4rem;
    -webkit-border-radius: 2.4rem;
    -moz-border-radius: 2.4rem;
    -ms-border-radius: 2.4rem;
    -o-border-radius: 2.4rem;
  }

  .section--hero-title {
    font-size: clamp(2rem, 4vw, 5.4rem);

    strong {
      font: inherit;
      display: block;
      color: rgb(var(--color-heading-strong));
    }
  }

  .section--hero-buttons {
    display: flex;
    gap: var(--section-hero-buttons-gap);
    align-items: center;

    .button,
    .button-choice {
      white-space: nowrap;
    }

    .svg-wrapper {
      --icon-svg-size: 2.4rem;
    }
  }

  @media screen and (width >= 1025px) {
    .section--hero-box>.section--hero-title+.section--hero-text {
      margin-top: 0.5rem;
    }
  }

  @media screen and (width < 1025px) {
    .section--hero-buttons {
      --section-hero-buttons-gap: 1rem;
      align-items: start;
      flex-direction: column;
    }
  }

  @media screen and (width < 750px) {
    .section--hero-box {
      width: 100%;
      text-align: center;
    }

    .section--hero-buttons {
      align-items: center;
    }

    .section--hero-text {
      font-size: 1.4rem;
    }
  }
}

/* hero banner - end */

/* contact section - start */
.section--contact {
  --color-heading: 0, 0, 0;
  --color-body: 0, 0, 0;
  --color-background: 215, 235, 255;
  --color-field-background: 255, 255, 255;
  --color-field-text: 178, 178, 178;
  --color-field-border: 178, 178, 178;
  --color-shadow: 0, 0, 0;
  
  .section--contact-box {
    background-color: rgb(var(--color-background));
    padding-block: 5rem 10rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 1px 1px 4px 0px rgba(var(--color-body), 0.1);
  }

  .section--contact-body {
    --flex-col-gap: 8rem;
    --flex-row-gap: 3rem;
    --flex-col-fixed: 57rem;
    align-items: center;
  }

  .field {
    border-width: 0;
  }

  .field-group-list {
    &:not(:first-child) {
      margin-top: 2.5rem;
    }

    & > * + .field-group-button {
      margin-top: 1.5rem;
    }

    & > * + .field-group-message {
      margin-top: 3rem;
    }
  }
  
  @media screen and (width < 1025px) {
    .section--contact-box {
      padding-block: 3rem;
    }

    .section--contact-body {
      --flex-col-gap: 5rem;
    }
  }
}

/* contact section - end */

/* group section - start */
.group--section {
  --color-heading: 0, 0, 0;
  --color-body: 0, 0, 0;
  --color-background: 255, 255, 255;
  --color-shadow: 0, 0, 0;

  .group--section-box {
    --rte-gap: 10rem;
  }

  .section-header {
    --rte-box-width: 84rem;
    margin: 0 auto;

    .section-header-text {
      --rte-box-width: var(--rte-box-width);
    }
  }

  .group--section-blocks:not(:first-child) {
    margin-top: 10rem;
  }

  .group--section-block  {
    --rte-gap: 5rem;

    & + .group--section-block {
      margin-top: var(--rte-gap);
    }
  }

  .section-block--title {
    margin-block: 0;
    font-size: clamp(1.8rem, 4vw, 3.2rem);
    font-weight: 400;
  }

  .block-img-text {
    --flex-col-gap: 8rem;
    --flex-row-gap: 3rem;
    --flex-col-fixed: 61rem;
    align-items: center;
    font-size: clamp(1.6rem, 2vw, 1.8rem);
  }

  .block-body--box {
    --rte-gap: 3rem;
  }

  .block-body--content > * + .button {
    margin-top: 5rem;
  }

  @media screen and (width < 1025px) {
    .group--section-box,
    .group--section-block {
      --rte-gap: 3rem;
    }

    .group--section-blocks:not(:first-child) {
      margin-top: 3rem;
    }

    .block-img-text {
      --flex-col-gap: 3rem;
    }

    .block-body--content .button {
      width: 100%;
    }
  }
}

/* group section - end */